nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: rgba(255, 255, 255, 0.952);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(0, 0, 139);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(241, 12, 12, 0.2); /* 1️⃣ */
    background-color: #91165ac4;
    color: #ffebcd;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}